.signup.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}

.heading__text {
  text-transform: uppercase;
  font-size: 2.1875rem;
}

.admin-form {
  margin-top: 1.5625rem;
  background-color: #001f3f;
  color: #fff;
  padding: 1.875rem;
}

.admin-form input {
  width: 100%;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #fff;
  margin-top: 0.625rem;
}

.admin-form__form-group input[type='radio'] {
  display: inline-block;
  width: fit-content;
  margin-left: 0.625rem;
}

.admin-form__form-group__user-type-label {
  margin-left: 0.3125rem;
}

.admin-form__form-group.form-group--top-margin {
  margin-top: 1.25rem;
}

.form-group--top-margin-small {
  margin-top: 0.9375rem;
  color: #ccc;
  font-size: 0.875rem;
}

div.admin-form__form-group.form-group--top-margin-small > a {
  text-decoration: underline;
  color: #d4c31b;
}

button.admin-form__form-group__submit-btn {
  padding: 0.625rem 1.875rem;
  background-color: #d4c31b;
  color: #000;
  border: none;
  font-weight: 700;
  font-size: 0.875rem;
  width: 100%;
}

button.admin-form__form-group__submit-btn:hover {
  cursor: pointer;
  color: #001f3f;
}

.admin-form input:focus {
  outline: none;
}

.admin-form__form-group__input-error {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
}

.admin-form__form-group__input-error--error-display {
  background-color: #580303;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

@media screen and (max-width: 680px) {
  .signup.container {
    height: auto;
  }
}
